version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/backend"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/schema"
    schedule:
      interval: "daily"
  - package-ecosystem: "bundler"
    directory: "/tools"
    schedule:
      interval: "daily"
