name: frontend

on:
  push:
    branches: [ "main" ]
    paths:
      - "frontend/**"
      - ".github/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "frontend/**"
      - ".github/**"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
    - uses: actions/checkout@v4
    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: "24.2.0"
        cache: "npm"
        working-directory: frontend
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build
    - name: Run unit tests
      run: npm run test:unit
    - name: Run E2E tests
      run: npm run test:e2e
